__pycache__/
*.pyc
*.pyo
.env
.env.*
*.ipynb_checkpoints
.DS_Store
.idea/
.vscode/
*.sqlite3
qdrant_storage/
/data/
# Anaconda
*.conda
*.egg-info
*.egg
*.log
*.bak
*.swp
*.lock
env/
venv/
.venv/
*.tar.gz
hf_cache/
models/